<!-- <!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
        
      <h1 class="h3 mb-3 font-weight-normal">Welcome to BookMySlot</h1>
      <a href="/login"><button id="myBtn" class="btn btn-lg btn-primary btn-block">LOGIN</button></a>
      <a href="/signup"><button id="myBttn" class="btn btn-lg btn-primary btn-block">SIGN UP</button></a>

  </body>
</html> -->



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body class="text-center">
      
      <div class="main">
      	<h1 class="h3 mb-3 font-weight-normal">Welcome to BookMySlot</h1>
      	<a href="/auth/login"><button id="myBtn" class="btn btn-lg btn-primary">LOGIN</button></a>
      	<a href="/auth/signup"><button id="myBttn" class="btn btn-lg btn-primary">SIGN UP</button></a>
  	  </div>
  </body>
</html>
