<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Meetings</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/table.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body class="text-center">
    <div style="text-align: right">
      <a href='/users/logout'><button class="btn btn-lg btn-primary" style="float: right;" type="button">Logout</button></a>
    </div>  
    <table>
    <tr>
      <th>Title</th>
      <th>Organizer</th>
      <th>Date</th>
      <% if(meets) { %>
        <% for(var i=0; i < meets.length; i++) { %>
          <tr style="border:black">
          <td><a href='bookslot/<%= meets[i]._id %>'><%= meets[i].title %></a></td>
          <td><%= meets[i].sender %></td>
          <td><%= meets[i].slot.slot_date %></td>
          </tr>
        <% } %>
      <% } %>
    </tr>
    </table>
    
  </body>
</html>
