<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>SignUp</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/signin.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body class="text-center">
      
    <form class="form-signin" method="post">
      <% if(errors) { %>
    <% for(var i=0; i < errors.length; i++) { %>
      <div class="alert alert-danger"><%= errors[i].msg %></div>
    <% } %>
  <% } %>
  <h1 class="h3 mb-3 font-weight-normal">Please fill your details</h1>
  <label for="name" class="sr-only">Username</label>
  <input type="text" name="userid" id="userid" class="form-control" placeholder="Username" autofocus>
  <label for="inputEmail" class="sr-only">Email ID</label>
  <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email ID" autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>
</body>
</html>
